<div href="#" class="block rounded-md border border-gray-300 p-4 shadow-sm sm:p-6">
  <div>
    <table class="min-w-full divide-y-2 divide-gray-200">
      <thead class="ltr:text-left rtl:text-right">
        <tr class="*:font-medium *:text-gray-900">
          <th class="px-3 py-2 whitespace-nowrap">Nombre</th>
          <th class="px-3 py-2 whitespace-nowrap">Precio de compra</th>
          <th class="px-3 py-2 whitespace-nowrap">Precio de venta</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <ng-container *ngFor="let product of products">
          <tr class="*:text-gray-900 *:first:font-medium">
            <td class="px-3 py-2 whitespace-nowrap">{{ product.name }}</td>
            <td class="px-3 py-2 whitespace-nowrap">
              <ng-container *ngIf="(product.prices | activePrice: 'purchase') as activePurchase">
                {{ activePurchase ? (activePurchase.amount | currency) : 'N/A' }}
              </ng-container>
            </td>
            <td class="px-3 py-2 whitespace-nowrap">
              <ng-container *ngIf="(product.prices | activePrice: 'sale') as activeSale">
                {{ activeSale ? (activeSale.amount | currency) : 'N/A' }}
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <app-paginator [config]="paginationConfig" (pageChange)="onPageChange($event)">
    </app-paginator>
  </div>
</div>