<div class="pt-32 px-2 sm:px-5">
    <div class="max-w-md mx-auto bg-white shadow-sm ring-1 ring-gray-900/5 rounded-lg p-3 sm:p-6">
        <div class="text-center">
            <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-indigo-100 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-indigo-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                </svg>
            </div>
            <h1 class="text-xl font-semibold text-indigo-600">Iniciar sesión</h1>
            <h2 class="text-gray-600">Introduce tus credenciales</h2>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-8">
            <div class="flex flex-col gap-1">
                <span class="text-sm font-medium text-gray-700"> Nombre de usuario </span>
                <div>
                    <input type="text" id="username" name="username" formControlName="username"
                        class="mt-0.5 p-1.5 w-full rounded border-gray-300 shadow-sm sm:text-sm focus:outline-none focus:border-indigo-500 border"
                        [class.border-red-500]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                    @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
                    <div class="text-sm text-red-600 ms-1">
                        @if (loginForm.get('username')?.errors?.['required']) {
                        <span>el nombre de usuario es requerido</span>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="flex flex-col gap-1 mt-4">
                <span class="text-sm font-medium text-gray-700"> Contraseña </span>
                <div>
                    <input type="password" id="password" name="password" formControlName="password"
                        class="mt-0.5 p-1.5 w-full rounded border-gray-300 shadow-sm sm:text-sm focus:outline-none focus:border-indigo-500 border"
                        [class.border-red-500]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                    <div class="text-sm text-red-600 ms-1">
                        @if (loginForm.get('password')?.errors?.['required']) {
                        <span>la contraseña es requerida</span>
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="flex justify-end mt-8">
                <button type="submit" [disabled]="isLoading()"
                    class="bg-indigo-600 font-semibold text-white px-4 py-2 rounded-lg hover:bg-indigo-500 transition-colors cursor-pointer inline-flex gap-2 items-center disabled:bg-indigo-400 disabled:cursor-not-allowed">
                    @if (isLoading()) {
                    <div class="animate-spin rounded-full h-4 w-4 border-b-2 border-white"></div>
                    <span>Logging...</span>
                    } @else {
                    <span>Login</span>
                    }
                </button>
            </div>
        </form>
    </div>
</div>